<!-- Clients Section -->
<section class="py-10 ">
    <div class="text-center pb-12">
        <h2 class="text-3xl font-serif font-semibold text-gray-800 relative inline-block">
            <span
                class="before:content-[''] before:block before:absolute before:-left-16 before:top-1/2 before:w-12 before:h-[1px] before:bg-gray-400
                   after:content-[''] after:block after:absolute after:-right-16 after:top-1/2 after:w-12 after:h-[1px] after:bg-gray-400">
                Our Trusted Clients
            </span>
        </h2>
        <p class="mt-4 text-gray-600 max-w-2xl mx-auto">
            Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et
            Dolore Magna Aliqua.
        </p>
    </div>

    <!-- Swiper -->
    <div class="swiper clients-swiper max-w-6xl mx-auto  ">
        <div class="swiper-wrapper" id="clients-container"></div>
        <div class="swiper-pagination translate-y-20"></div>
    </div>
</section>